body {
    background-color: primary;
    height: 2000px;
}
.jumbotron {
    padding-top: 10rem;
    background-color:primary;
}

.job {
    background-color:white;
    padding-top: 10rem;
}
.about {
    background-color:white;
    padding-top: 10rem;
}
.contact {
    padding-top: 10rem;
}
#label {
    text-decoration-color: green;
}
* ,*::after, ::before {
box-sizing: border-box;
}