body {
    background-color: primary;
}
.jumbotron {
    padding-top: 6rem;
    background-color:primary;
}

.project {
    background-color:white;
    padding-top: 6rem;
}
.about {
    background-color:white;
    padding-top: 6rem;
}